<div class="buy-button-container">
  <a
    class="buy-button"
    data-turbo="false"
    data-controller="checkout"
    data-action="checkout#start"
    data-checkout-price-id-value="<%= ENV["PADDLE_PRICE_ID"] %>">
    Buy "Master Hotwire" e-book for €<%= price %>!
  </a>
</div>
