<div class="buy-button-container">
  <a
    class="buy-button"
    data-turbo="false"
    data-controller="checkout"
    data-action="checkout#start"
    data-checkout-price-id-value="pri_01ja5tas8g0pskcekk8y3h81vw">
    Buy "Master Hotwire" e-book!
  </a>
</div>
