<div class="cta-box">
  Ready? Buy the full book now and get all the future updates:

  <%= render "buy_button", price: price %>

  <div class="cta-formats">Instant access to: <b>Web + PDF + EPUB</b></div>

  Note sure yet? Subscribe to get the free sample chapters and be notified of future book updates and discounts. <a data-formkit-toggle="feaa96bc97" href="https://thoughtful-producer-2834.kit.com/feaa96bc97">Click here to subscribe and receive the sample chapters.</a>
</div>
