<div class="cta-box">
  Ready? Buy the book right now for the special Beta version price and get all the future updates:

  <%= render "buy_button" %>

  <b>DISCOUNT: For a limited time you can get a 50% discount by subscribing to my newsletter.</b>
  You will also receive free sample chapters from the book. <a data-formkit-toggle="feaa96bc97" href="https://thoughtful-producer-2834.kit.com/feaa96bc97">Click here to subscribe and receive the discount and sample chapters.</a>
</div>

