<footer>
  My website: <a href="https://radanskoric.com" target="_blank">radanskoric.com</a> |
  Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a> |
  <a href="/privacy">Privacy Policy</a> |
  <a href="/terms">Terms of Service</a>
</footer>
